$primary-background-color: #292a2d;
$page-title-background-color: #212327;
$code-box-background: #181d28;
$primary-color: #abb2bd;
$secondary-color: #66a1b8;
$spacing-unit: 16px;
$xs: 8px;
$small: 16px;
$medium: 32px;
$large: 40px;
$xl: 56px;
$xxl: 72px;
$xxxl: 80px;
