@import '../variables.scss';

.button {
    width: $large;
    height: $large;

    margin-right: $spacing-unit;

    border-radius: 8px 8px 8px 8px;
    border: 1px solid $primary-color;

    color: $primary-color;
    background-color: #4d6afe00;

    font-weight: bold;
}