@import '../variables.scss';

.button {
    width: $xl;
    height: $large;
    border-radius: 5px 5px 5px 5px;
    background-color: $code-box-background  ;
    border: 1px solid #444;
    color: $primary-color;
    margin-right: $spacing-unit;
}