@import '../variables.scss';

.button {
    width: $large;
    height: $large;
    border-radius: 8px 8px 8px 8px;
    background-color: #4d6afe00  ;
    border: 1px solid $primary-color;
    color: $primary-color;
    margin-right: $spacing-unit;
    font-weight: bold;
}