@import '../variables.scss';
@import '../mixins';

body{
    background-color: #282c34
}
.pageHeader {
    @include pageHeader;
    margin-bottom: 0;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: $spacing-unit;
    color: $secondary-color;
    font-size: $small;
}